<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351864923845-ooccvushuq48f3oic4ogq5ebp8f9v8p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351864923845-ooccvushuq48f3oic4ogq5ebp8f9v8p2</string>
	<key>API_KEY</key>
	<string>AIzaSyB3wiVzUTYA9xGWAoDHAiz_DU-QHKbYgyc</string>
	<key>GCM_SENDER_ID</key>
	<string>351864923845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDelivery</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-f7f02</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-f7f02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351864923845:ios:b4bf704bca96efd7e372ac</string>
</dict>
</plist>